#title_box {
    margin-left: 10px; 
    margin-right: 10px; 
    border-bottom: 3px double rgb(255, 255, 255);
}
#rp_title {
    display: block; text-align: left; 
    font-family: Century Gothic ; 
    font-size: 32px; 
    color: #000000; 
    font-weight: bold;
}
#rp_subtitle {
    display: block; 
    width: 90%; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: -20px; 
    text-align: right; 
    font-family:Bradley Hand ITC; 
    font-size: 28px; 
    letter-spacing: 4px; 
    color: #8B2252; 
    font-style: italic; 
    border-bottom: 0px dashed #37703a; 
    padding-bottom: 20px;
}
span.dialogue {
    display : block ; 
    text-align : left ; 
    margin-left : 20px ;
}

    
